body {
    background-color: white;
}

hr {
    margin: 0;
    width: 90%;
}

.container {
    max-width: 100%;
    padding: 0;
}

#header {
    width: 100%;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    background-color: lightblue;
    overflow: hidden;
    box-shadow: 2px 2px 4px #86C5DA;
}

.addAppointmentBox {
    margin-top: 50px;
    margin-left: 175px;
}

.appointmentList {
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    width: auto;
}

.appointmentBox {
    display: inline-block;
    background-color: lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 12pt;
    text-align: left;
    border-radius: 15px;
    height: 320px;
    width: 340px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #86C5DA;
}

.appointmentBox:hover {
    transform: scale(1.1); 
    background-color: #86C5DA;
  }

.button {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    height: 60px;
    width: 110px;
    border-radius: 5px;
    background-color: #869CDA;
    border-color: #869CDA;
    box-shadow: 2px 2px 4px #ADBCE6;
}

.button:hover {
    background-color: #ADBCE6;
    border-color: #ADBCE6;
}

.Search {
    display: block;
    margin-bottom: 5px;
    margin-left: 840px;
    border-style: solid;
    border-color: #86C5DA;
    border-radius: 5px;
    height: 30px;
    width: 175px;
}

.react-datepicker__close-icon {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    translate: -880px -3px;
    position: absolute;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.addAppointmentBox {
    width: 80%;
}

.card-fadeout{
    display: flex;
    align-items: center;
    padding: 10px;
    -webkit-animation: fadeout .3s linear forwards;
    animation: fadeout .3s linear forwards;
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
    
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}