body {
    background-color: gray;
}
.appointmentList {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
}
.appointmentBox {
    display: inline-block;
    background-color: lightslategray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 12pt;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    height: 320px;
    width: 340px;
    cursor: pointer;
}

.appointmentBox:hover {
    transform: scale(1.1); 
    background-color: rgb(188, 204, 223);
  }
.button {
    margin-top: 10px;
    margin-left: 10px;
    height: 60px;
    width: 110px;
    background-color: darkgray;
    border-color: darkgray;
}
.Search {
    display: block;
    margin-bottom: 5px;
    margin-left: 65px;
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 175px;
}

.card-fadeout{
    display: flex;
    align-items: center;
    padding: 10px;
    -webkit-animation: fadeout .3s linear forwards;
    animation: fadeout .3s linear forwards;
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
    
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}